.navbar-icon {
  position: relative;
  top: 1px;
  margin-right: 12px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 10rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
}

.enable-js {
  margin: 0;
  padding: 8px 0 9px;
  background-color: #FFC107;
  color: #000;
  text-align: center;
  font-family: "Arial";
  font-size: 13px;
  z-index: 100000;
}

.codehilite .hll {
  background-color: #ffffcc;
}

.codehilite {
  background: #f8f8f8;
}

.codehilite .c {
  color: #408080;
  font-style: italic;
}

/* Comment */
.codehilite .err {
  border: 1px solid #FF0000;
}

/* Error */
.codehilite .k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
.codehilite .o {
  color: #666666;
}

/* Operator */
.codehilite .ch {
  color: #408080;
  font-style: italic;
}

/* Comment.Hashbang */
.codehilite .cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
.codehilite .cp {
  color: #BC7A00;
}

/* Comment.Preproc */
.codehilite .cpf {
  color: #408080;
  font-style: italic;
}

/* Comment.PreprocFile */
.codehilite .c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
.codehilite .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
.codehilite .gd {
  color: #A00000;
}

/* Generic.Deleted */
.codehilite .ge {
  font-style: italic;
}

/* Generic.Emph */
.codehilite .gr {
  color: #FF0000;
}

/* Generic.Error */
.codehilite .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
.codehilite .gi {
  color: #00A000;
}

/* Generic.Inserted */
.codehilite .go {
  color: #888888;
}

/* Generic.Output */
.codehilite .gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
.codehilite .gs {
  font-weight: bold;
}

/* Generic.Strong */
.codehilite .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
.codehilite .gt {
  color: #0044DD;
}

/* Generic.Traceback */
.codehilite .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
.codehilite .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
.codehilite .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
.codehilite .kp {
  color: #008000;
}

/* Keyword.Pseudo */
.codehilite .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
.codehilite .kt {
  color: #B00040;
}

/* Keyword.Type */
.codehilite .m {
  color: #666666;
}

/* Literal.Number */
.codehilite .s {
  color: #BA2121;
}

/* Literal.String */
.codehilite .na {
  color: #7D9029;
}

/* Name.Attribute */
.codehilite .nb {
  color: #008000;
}

/* Name.Builtin */
.codehilite .nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
.codehilite .no {
  color: #880000;
}

/* Name.Constant */
.codehilite .nd {
  color: #AA22FF;
}

/* Name.Decorator */
.codehilite .ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
.codehilite .ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
.codehilite .nf {
  color: #0000FF;
}

/* Name.Function */
.codehilite .nl {
  color: #A0A000;
}

/* Name.Label */
.codehilite .nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
.codehilite .nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
.codehilite .nv {
  color: #19177C;
}

/* Name.Variable */
.codehilite .ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
.codehilite .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
.codehilite .mb {
  color: #666666;
}

/* Literal.Number.Bin */
.codehilite .mf {
  color: #666666;
}

/* Literal.Number.Float */
.codehilite .mh {
  color: #666666;
}

/* Literal.Number.Hex */
.codehilite .mi {
  color: #666666;
}

/* Literal.Number.Integer */
.codehilite .mo {
  color: #666666;
}

/* Literal.Number.Oct */
.codehilite .sa {
  color: #BA2121;
}

/* Literal.String.Affix */
.codehilite .sb {
  color: #BA2121;
}

/* Literal.String.Backtick */
.codehilite .sc {
  color: #BA2121;
}

/* Literal.String.Char */
.codehilite .dl {
  color: #BA2121;
}

/* Literal.String.Delimiter */
.codehilite .sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
.codehilite .s2 {
  color: #BA2121;
}

/* Literal.String.Double */
.codehilite .se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
.codehilite .sh {
  color: #BA2121;
}

/* Literal.String.Heredoc */
.codehilite .si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
.codehilite .sx {
  color: #008000;
}

/* Literal.String.Other */
.codehilite .sr {
  color: #BB6688;
}

/* Literal.String.Regex */
.codehilite .s1 {
  color: #BA2121;
}

/* Literal.String.Single */
.codehilite .ss {
  color: #19177C;
}

/* Literal.String.Symbol */
.codehilite .bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */
.codehilite .fm {
  color: #0000FF;
}

/* Name.Function.Magic */
.codehilite .vc {
  color: #19177C;
}

/* Name.Variable.Class */
.codehilite .vg {
  color: #19177C;
}

/* Name.Variable.Global */
.codehilite .vi {
  color: #19177C;
}

/* Name.Variable.Instance */
.codehilite .vm {
  color: #19177C;
}

/* Name.Variable.Magic */
.codehilite .il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
.section-heading {
  text-align: center;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.footnotes {
  font-size: 12px;
}

.post-image {
  padding: 3px;
  border: 1px solid #ccc;
}

.post-image-container {
  margin: 1rem;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  padding-top: 1.1em;
}

.image-caption {
  padding: 4px;
}

.lazy-container, .lazy-container-background, .lazy-blur, .lazy-blur-fade, .lazy-blur-slow-fade {
  width: 100%;
  height: 100%;
}

.lazy-hide {
  display: none;
}

.lazy-container, .lazy-container-background {
  overflow: hidden;
}

.lazy-container-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lazy-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enlarge {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.lazy-blur {
  -ms-filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
}

.lazy-blur-fade {
  animation: sharpen .6s both;
}

.lazy-blur-slow-fade {
  animation: slow-sharpen 4s both;
}

@keyframes sharpen {
  from {
    -ms-filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
  }
  to {
    -ms-filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes slow-sharpen {
  from {
    -ms-filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
  }
  to {
    -ms-filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
  }
}
